<!-->Navigation menu items (header)<-->
<nav class="navbar navbar-expand-sm bg-dark">
	<div class="container">
		<div class="navbar-brand">
			<img height="60" width="60" src="../assets/logo.gif" alt>
		</div>
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="#">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="#">About us</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
		</ul>
	</div>
</nav>
<!-->header ends<-->

<ngb-carousel>
	<ng-template ngbSlide>
		<img src="../assets/1.jpg" alt="Random first slide" style="width: 100%; height: 500px">
		<div class="carousel-caption">
		<h3>First slide label</h3>
		<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<img src="../assets/1.jpg" alt="Random second slide"  style="width: 100%; height: 500px">
		<div class="carousel-caption">
		<h3>Second slide label</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<img src="../assets/1.jpg" alt="Random third slide" style="width: 100%; height: 500px">
		<div class="carousel-caption">
		<h3>Third slide label</h3>
		<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		</div>
	</ng-template>
</ngb-carousel>

<div class="container" id="container">
	<h1>Who are we?</h1>
	<div class="row">
			<div class="col-sm-4">aaaaaa</div>
			<div class="col-sm-4">aaaaaa</div>
			<div class="col-sm-4">aaaaaa</div>
			<div class="col-sm-4">aaaaaa</div>
			<div class="col-sm-4">aaaaaa</div>
			<div class="col-sm-4">aaaaaa</div>
			<div class="col-sm-4">aaaaaa</div>
	</div>
</div>